JWT_SECRET=demopay-secret
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=YOUR_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET

RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_SECRET

SQS_QUEUE_URL=YOUR_QUEUE_URL
S3_BUCKET=demopay-invoices